.text-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-field {
  width: 80%;
}

.warning {
  color: #EBCB8B;
}

.top-margin {
  margin-top: .8em;
}

.key-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}