.modal-window {
  position: fixed;
  background-color: rgba(46, 52, 64, .65);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  &>div.modal-container {
    border-radius: .4em;
    width: 75%;
    padding: 2em;
    background: #ECEFF4;
    color: #2E3440;
    max-height: 80vh;
    overflow-y: scroll;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-close {
  color: #434C5E;
  line-height: 50px;
  font-size: 87%;
  position: relative;
  text-align: center;
  top: 4em;
  right: 6em;
  width: 4em;
  text-decoration: none;
  border-radius: 0 .4em 0;
  cursor: default;
  &:hover {
    color: #2E3440;
  }
}