.output {
  width: 95%;
  max-height: 200px;
  padding: .4em;
  margin: .2em auto;
  overflow-y: scroll;
  text-align: left;
  font-size: 11px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: .4em;
  border: 1px solid white;
}

.output-label {
  margin-left: 1.4em;
  font-weight: bold;
}

.node-main {
  margin: .8em;
  padding: .8em;
  border-radius: .4em;
  border: 1px solid white;
}

.node-main h3 {
  border-bottom: 1px solid white;
  padding-bottom: .8em;
}

.node-actions button {
  width: 8em;
}



/* .actions button {
  padding: .4em .8em;
  font-size: 1em;
  border-radius: 6px;
  border: 0px solid black;
  background-color: white;
  margin: .4em .4em .4em 0;
}
.actions button:last-child {
  margin-right: 0;
}

.actions button:focus {
  outline: none;
} */